@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";
:root {
  --primary: #ff5858;
  --yellow: #fdd94a;
  --text: #1d1b20;
  --secondary-text: #49454f;
  --surface: #ffffff;
  --soft-surface: #ece6f0;
  --footer: #1d1b20;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
  color: var(--text);

  font-family:
    Arial,
    Tahoma,
    sans-serif;

  font-weight: 500;
}